link(href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic|Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Noto+Serif:100,400,700&subset=cyrillic,cyrillic-ext,latin,greek-ext,greek,latin-ext', rel='stylesheet', type='text/css')
