icon-corrupcion = "\e900"
icon-derechos-humanos = "\e901"
icon-economicas = "\e902"
icon-justicia = "\e903"
icon-sexualidad = "\e904"

@font-face
    font-family 'icon-projecto-joven'
    src url('demos-homepage/icon-projecto-joven.eot?iz2ad5')
    src url('demos-homepage/icon-projecto-joven.eot?iz2ad5#iefix') format('embedded-opentype'), url('demos-homepage/icon-projecto-joven.ttf?iz2ad5') format('truetype'), url('fonts/icon-projecto-joven.woff?iz2ad5') format('woff'), url('demos-homepage/icon-projecto-joven.svg?iz2ad5#icon-projecto-joven') format('svg')
    font-weight normal
    font-style normal

[class^="icon-"], [class*=" icon-"]
    font-family 'icon-projecto-joven' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon-corrupcion
    &:before
        content icon-corrupcion
.icon-derechos-humanos
    &:before
        content icon-derechos-humanos
.icon-economicas
    &:before
        content icon-economicas
.icon-justicia
    &:before
        content icon-justicia
.icon-sexualidad
    &:before
        content icon-sexualidad

