@import "icons"

font-primary = 'Lato', sans-serif
font-secundary = 'Lato', sans-serif

#demos-homepage
  font-family font-primary
  padding-bottom 22px
  
  #slider-wrapper
    width 100%
    height 420px
    margin 50px auto
    position relative
    margin-bottom 0px
    background rgba(0, 0, 0, 0.5)
    overflow hidden
      
    label
      position relative
      padding 4px
      margin 10px
      background #505050
      border-radius 20px
      opacity 0.3
      cursor pointer
      z-index 999
      
    label:hover
      opacity .50

    .inner-wrapper 
      width 100%
      height 100%
      position absolute
      top 0
      left 0
      margin-bottom 0px
      overflow hidden
      display flex
      justify-content center
      align-items flex-end
      
    .control 
      display none

    input:checked + label
      opacity 1

    .overflow-wrapper 
      height 100%
      position absolute
      top 0
      left 0
      overflow-y hidden
      z-index 1
      -webkit-transition all 0.3s ease-in-out
      -moz-transition all 0.3s ease-in-out
      -o-transition all 0.3s ease-in-out
      transition all 0.3s ease-in-out
      a
        display inline-block
        background-position center
        background-size cover
        .content
          height 100%
          width 100%
          display flex
          justify-content center
          align-items center
          flex-direction column
          color #fff

          h2
            font-weight 600
            font-size 2.3em
            margin-bottom 1em

          p
            max-width 800px
            margin 0 auto

  .support
    p
      text-align center
      color #888
      font-size 18px
      margin-bottom 30px
    .logos
      display flex
      justify-content center
      align-items center
      .canada
        width 150px
      .fcd
        width 100px
        margin-left 100px

  .block-espacio-projecto
    padding 80px 0
    display flex
    flex-direction row
    justify-content center
    flex-wrap wrap
    align-items flex-start
    align-content flex-start

  .block-card-projecto
    border 1px solid #979797
    border-radius 3px
    height 190px
    max-width 100%
    width 360px
    overflow hidden
    position relative
    margin 0 15px 30px

    &:hover
      box-shadow inset 0 0 100px 100px rgba(255, 255, 255, 0.1)

    &:before
      content ""
      background-image url('demos-homepage/bkg-projecto-joven-card.svg')
      background-repeat no-repeat
      background-position center center
      opacity 0.2
      top 0
      left 0
      bottom 0
      right 0
      position absolute
      z-index 1

  .block-card-info
    padding 40px 20px 10px
    color #fff

    h3
      font-family font-secundary
      margin 30px 0 0
      height 80px
      position relative
      z-index 10
      font-size 24px
      color white

      a
        color inherit

    p
      font-size 14px

  .hexagon
    position absolute
    z-index 10
    right 20px
    top 15px
    width 40px
    height 23.09px
    background-color #fff
    margin 11.55px 0

    [class^="icon-"], [class*=" icon-"]
      position absolute
      font-size 30px
      color #000
      z-index 10
      left 50%
      top 50%
      -ms-transform translate(-50%,-50%) /* IE 9 */
      -webkit-transform translate(-50%,-50%) /* Safari */
      transform translate(-50%,-50%)

    &:before,
    &:after
      content ""
      position absolute
      width 0
      border-left 20px solid transparent
      border-right 20px solid transparent
    &:before
      bottom 100%
      border-bottom 11.55px solid #fff
    &:after
      top 100%
      width 0
      border-top 11.55px solid #fff

  footer
    display block
    text-align center
    margin 12px auto
    padding-top 22px

    img
      max-width 200px

    .tos
      margin-top 5px